<li
  class='appointment-card {{if @isLocation "appointment-card--location"}}'
  {{did-insert this.addEventListener}}
>
  <div
    class='appointment-card__container
      {{if @isLocation "appointment-card__container--location"}}'
  >
    {{#if this.isLaptop}}
      {{#if @isLocation}}
        <img
          src='https://widget-cdn.simplepractice.com/assets/images/telehealth@2x-f0d7694d79cb6c472cf972617f3837be.png'
          alt='placeholder'
        />
      {{/if}}
    {{/if}}
    <p
      class='appointment-card__title
        {{if @isLocation "appointment-card__title--location"}}'
    >{{@title}}</p>
    {{#if @description}}
      <p
        class='appointment-card__description
          {{if @isLocation "appointment-card__description--location"}}'
      >{{@description}}</p>
    {{/if}}
  </div>
  <LinkTo
    @route='request.location'
    {{on 'click' (fn this.updateService @info)}}
    class='appointment-card__button
      {{if @isLocation "appointment-card__button--location"}}'
  >
    SELECT
  </LinkTo>
</li>