<LinkTo
  class='appointment__section__card-container__go-back'
  @route='request.service'
>
  {{inline-svg '/assets/icons/left-arrow.svg' class='svg--green'}}
  <span>Select Service</span>
</LinkTo>
<ul role='list' class='appointment-card-list appointment-card-list--location'>
  {{#each @locations as |location|}}
    <Appointment::Card
      @isLocation={{@isLocation}}
      @title={{location.name}}
      @info={{location}}
      @description={{location.phone}}
      @cta={{@cta}}
      @isLaptop={{@isLaptop}}
    />
  {{/each}}
</ul>