<div class='appointment-steps'>
  <ol>
    <li class={{if @clinician "active"}}>Clinician
      {{#if @clinician}}
        <div class='clinician'>{{@clinician}}</div>
      {{/if}}
    </li>
    <li class={{if @currentService 'active'}}>Select Service
      {{#if @currentService}}
        <div class='clinician'>{{get @currentService 'description'}}</div>
        <div class='clinician'>{{get @currentService 'duration'}} minutes</div>
      {{/if}}</li>
    <li>Select Location</li>
    <li>Select Date &amp; Time</li>
    <li>Your Information</li>
  </ol>
</div>